{%  extends 'base.html' %}

{% block content %}
<div>
    <h2 class="text-3xl text-green-800 font-semibold p-2">Details about {{ snack.title }}</h2>
    <p class="text-xl text-green-800">purchaser: {{ snack.purchaser }}</p>
    <p class="text-xl text-green-800">Description: {{ snack.description }}</p>
    <a href="{% url 'snack_update' snack.pk %}">Update Snack</a>
    <a href="{% url 'snack_delete' snack.pk %}">Delete Snack</a>
    <h3><a href="{% url 'snack_list' %}">Snack List</a></h3>
</div>
{% endblock content %}